<section class="w-full">
  <!-- Table Headers -->
<div class="grid grid-cols-7 gap-4 py-3 px-5 border-b border-gray-300 font-semibold text-gray-700 text-left bg-gray-100">
  <div>ID</div>
  <div>User</div>
  <div>Email</div>
  <div>Active</div>
  <div>Verified</div>
  <div>Phone</div>
  <div>Action</div>
</div>

  <!-- Table Rows -->
  <div *ngFor="let user of users" class="border-b border-gray-200 hover:bg-gray-50">
    <app-user-row [userData]="user" (updateUser)="updateUser($event)" />
  </div>
</section>
