<header class="sticky top-0 z-50 bg-transparent ">
  <div class="relative px-8 h-[80px] flex items-center justify-end max-w-7xl mx-auto max-md:px-6 max-sm:px-4">
    <div class="flex items-center space-x-6 max-md:space-x-4 max-sm:space-x-3">
      <app-balance-display [balance]="(user$ | async)?.coinBalance || 0" />
      <app-notification-dropdown 
        [notifications]="(notifications$ | async)||[]" 
        (markAsRead)="onMarkAsRead($event)"
      />
      <app-user-profile-icon [profileURL]="(user$ | async)?.profileURL || null" />
    </div>
  </div>
</header>
