<nav class="h-full overflow-y-auto bg-gradient-to-br from-blue-50 via-white to-purple-50 shadow-[2px_2px_4px_rgba(0,0,0,0.25)]">
      <div class="flex flex-col items-start px-4 pt-4 pb-40 w-full">
        <app-logo></app-logo>
        
        <app-nav-section title="Main menu" [isFirst]="true">
          <app-nav-item
            *ngFor="let item of navItems"
            [label]="item.label"
            [icon]="item.icon"
            [route]="item.route"
            [isActive]="isRouteActive(item.route)"
            [paddingLeft]="item.paddingLeft || false"
          ></app-nav-item>
        </app-nav-section>

        <app-nav-section title="Information">
          <app-nav-item
            *ngFor="let item of informationItems"
            [label]="item.label"
            [icon]="item.icon"
            [route]="item.route"
            [isActive]="isRouteActive(item.route)"
          ></app-nav-item>
        </app-nav-section>
      </div>
    </nav>