<nav class="h-full overflow-y-auto bg-white">     
   <div class="flex flex-col items-start px-4 pt-9 pb-40 w-full bg-white shadow-[2px_2px_4px_rgba(0,0,0,0.25)]">
        <app-logo></app-logo>

        <app-nav-section title="Main menu" [isFirst]="true">
          <app-nav-item label="Home" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/c506de63ae3fed0c611c979e13cbf0bcaa366021?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9" [isActive]="true"></app-nav-item>
          <app-nav-item label="Contacts" [paddingLeft]="true"></app-nav-item>
          <app-nav-item label="Cards" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/e914e7c7b960b90c770dea94d726123b3ca0bced?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Expense Category" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/761e8b325a50e5abab6fe5172c38817da1a709f5?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Income" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/cebf715316438e369d22146d01984c2cb3262a45?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Goals" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/614e0f660359c84cf9e7d342f57b73ee03c22bae?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Spend Activity" [paddingLeft]="true"></app-nav-item>
          <app-nav-item label="Transactions" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/80ec4cb3abf49ec088f6ad5d60fd2b65abc03877?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Lent money" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/66a5af1ed6e31af246b8c1e2d6cdf2921bccb240?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Money to pay" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/8b6b9633c6aa6c7dc4ca8d1023f672b826e0c3d2?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Requested Money" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/e9a7c62c8232861376328b44cb081633a4d884b6?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Rewards" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/609ddf0bacdd43d0722bcd3894e3a4cde4157987?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
        </app-nav-section>

        <app-nav-section title="Information">
          <app-nav-item label="Messages" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/68af2921647fb1fc3abe0b888a88da08dbd6a284?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Offers" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/68147d96b115b7ae0d734141df97cbc834d28d42?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
        </app-nav-section>

        <app-nav-section title="others" [isLast]="true">
          <app-nav-item label="Help & Support" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/9dc7071acefb4b7c5138ffceb1900b660f249223?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
          <app-nav-item label="Feedback" icon="https://cdn.builder.io/api/v1/image/assets/TEMP/03a6f658e54a883f1e77874e1dd6cb4239d03662?placeholderIfAbsent=true&apiKey=4ac0f753d4fc447b9df1161010df18d9"></app-nav-item>
        </app-nav-section>
      </div>
    </nav>