<main class="flex gap-10 px-10 mt-24 max-md:flex-col max-md:items-center max-md:px-5 max-sm:px-4">
      <section class="flex-1">
        <h2 class="mb-3.5 text-5xl font-medium tracking-wider text-indigo-700 capitalize max-md:text-4xl max-sm:text-3xl">
          We'd Love to Hear From You
        </h2>
        <p class="mb-6 text-base tracking-normal text-black">
          Questions, feedback, or support? Reach out and we'll get back to you soon!
        </p>
        <button
          class="px-5 py-2 text-base font-bold tracking-wide text-white bg-indigo-700 rounded-lg shadow-sm cursor-pointer w-[fit]"
          aria-label="Start now">
          Start now
        </button>
      </section>

      <section class="flex-1">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/82dbca39707ca3315866768d25487247e4fc16f4"
          alt="Contact illustration"
          class="w-full h-auto"
        />
      </section>
    </main>
