
      <button
        class="flex flex-col gap-3.5 justify-center items-center py-6 pr-4 pl-4 shadow-sm bg-[linear-gradient(to_bottom,_rgba(233,229,255,0.68)_0%,_rgba(79,39,212,0.34)_43%,_rgba(21,0,255,0.74)_100%)] transition-all cursor-pointer duration-[0.2s] ease-[ease-in-out] h-[120px] rounded-[172px] w-[120px] max-md:gap-3 max-md:px-3.5 max-md:py-5 max-md:h-[100px] max-md:w-[100px] max-sm:gap-2.5 max-sm:px-3 max-sm:py-3.5 max-sm:w-20 max-sm:h-20"
        aria-label="feature button"
      >
        <lucide-icon [img]="icon" color="white" strokeWidth="3" class="my-icon"></lucide-icon>
        <span
          class="text-base font-black tracking-wide text-center text-white capitalize w-[87px] max-md:text-sm max-md:tracking-wide max-md:w-[72px] max-sm:w-14 max-sm:text-xs max-sm:tracking-wide"
        >
          {{buttonText}}
        </span>
      </button>