<div
  class="flex flex-col px-11 py-8 w-full bg-white rounded-3xl border border-solid border-black border-opacity-30  max-md:px-5 max-md:max-w-full"
>
  <h1 class="mb-7.5 text-4xl tracking-tighter text-indigo-700 max-sm:text-4xl mt-4">
    Set New Password
  </h1>

  <form [formGroup]="setPasswordForm">

    <app-input-field
      label="New password"
      type="password"
      [required]="true"
      placeholder="Enter your new password"
      [control]="getFormControl('password')"
    />

    <app-input-field
      label="Confirm password"
      type="password"
      [required]="true"
      placeholder="Confirm your password"
      [control]="getFormControl('confirmPassword')"
    />


    <div class="flex justify-between w-full mt-5">
        <button class="text-black text-lg px-4 py-2  hover:text-blue-700 hover:text-xl" >back</button>
        <app-action-button
        text="submit"
        type="submit"
        (onClick)="savePassword()"
         />
    </div>
  </form>
</div>