<div class="relative">
  <button (click)="toggleDropdown()" aria-label="Profile" class="rounded-full overflow-hidden p-[2px] bg-white">
  <div class="w-13 h-13 rounded-full border-2 border-blue-600 flex items-center justify-center overflow-hidden">
    <ng-container *ngIf="profileURL; else defaultIcon">
      <img
        [src]="profileURL"
        (error)="profileURL = null"
        alt="Profile"
        class="w-full h-full object-cover rounded-full"
      />
    </ng-container>
    <ng-template #defaultIcon>
      <svg width="32" height="32" fill="black" xmlns="http://www.w3.org/2000/svg" class="rounded-full">
        <!-- Your SVG content -->
      </svg>
    </ng-template>
  </div>
</button>


  <app-profile-dropdown
  *ngIf="isDropdownOpen"
  [items]="dropdownItems"
  >
  </app-profile-dropdown>
</div>
