<div class="flex flex-col items-start w-full">
  <label
    [attr.for]="label"
    class="text-sm font-medium text-black"
  >
    {{ label }}
    <span *ngIf="required" class="text-red-600">*</span>
  </label>

  <input
    [id]="label"
    [type]="type"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [formControl]="control!"
    [autocomplete]="type === 'password' ? 'new-password' : 'on'" 
    spellcheck="false" 
    (input)="onInputChange($event)"
    [class]="
      'px-3.5 py-2 mt-2 w-full text-md tracking-tight bg-white rounded-2xl border border-solid text-neutral-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 ' +
      (control?.invalid && control?.touched ? 'border-red-500' : 'border-gray-300')
    "
    [attr.aria-invalid]="control?.invalid && control?.touched"
    [attr.aria-describedby]="errorMessage ? label + '-error' : null"
  />

  <span
    *ngIf="errorMessage"
    [id]="label + '-error'"
    class="text-red-500 text-sm mt-1 max-w-[300px]"
  >
    {{ errorMessage }}
  </span>
</div>
